<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>E-Comerse</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>
<body>
  {{{body}}}
<script src="/js/cartHandle.js"></script>
</body>
</html>
